footer {
  position: relative;
}
.footer_content {
  display: flex;
  width: 100%;
  height: 500px;
}
.background {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#socials {
  z-index: 2;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
}
.social_content {
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.socials,
.footer-links,
.footer-legal {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  color: white;
}

.socials {
  gap: 20px;
}

.socials a {
  font-size: 24px;
}

.footer-links {
  gap: 10px;
}

.footer-links a {
  text-decoration: none;
  font-size: 20px;
  color: white;
}

.footer-legal {
  font-size: 12px;
  margin: 0;
}

#svg-wave {
  position: absolute;
  width: 80vw;
  height: 100%;
  transform: scaleY(2) scaleX(2.25);
  transform-origin: bottom;
  box-sizing: border-box;
  display: block;
  pointer-events: none;
  -webkit-transform: scaleY(2) scaleX(2.25);
  -moz-transform: scaleY(2) scaleX(2.25);
  -ms-transform: scaleY(2) scaleX(2.25);
  -o-transform: scaleY(2) scaleX(2.25);
}

@media (width > 420px) {
  .footer-socials {
    align-items: center;
    padding-left: 0;
    gap: 20px;
  }

  .footer-links {
    gap: 20px;
  }
}
