@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wdth,wght@125,100..900&display=swap");

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
html {
  font-family: sans-serif;
  overflow-x: hidden;
  font-size: 12px;
  margin: 0 auto;
  width: 100vw;
}
body {
  overflow-x: hidden;
  margin: 0;
}
:root {
  --color-1: black;
  --color-2: white;
  --color-3: #f0faff;
  --color-4: #0172a3;
  --color-5: #0bb1ec;
  --color-6: #07324a;
}
html.sr .widget {
  visibility: hidden;
}
.header {
  background-color: var(--color-2);
  width: 100vw;
  height: 90px;
  display: flex;
  justify-content: space-evenly;
  padding: 0.5rem 5%;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
}
.item-2 {
  flex-grow: 2;
  display: flex;
  justify-content: end;
}
#home,
#services #about {
  width: 100vw;
  height: 100dvh;
  margin: 2% auto;
  padding: 2%;
}
.logo img {
  width: 150px;
  height: 50px;
}
.nav-links > ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}
.nav-links ul li {
  display: inline;
  list-style: none;
  text-align: center;
}

.nav-links ul li a {
  display: block;
  width: 100px;
  padding: 10px;
  margin: 0px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color-1);
  position: relative;
}
.nav-links ul li > a::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0px;
  width: 100%;
  height: 4px;
  border-radius: 5px;
  background-color: var(--color-4);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
  transform-origin: right;
}
.nav-links ul li a:hover::after {
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform-origin: left;
}
.expanded {
  display: unset;
  position: absolute;
  top: 100%;
  left: 0%;
  width: 80vw;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
  z-index: 10;
  background-color: var(--color-2);
}
.hamburger {
  cursor: pointer;
  position: relative;
  width: 70px;
  height: 70px;
  overflow: hidden;
  display: none;
}
.hamburger span {
  position: absolute;
  width: 40px;
  height: 4px;
  margin-bottom: 10px;
  background-color: var(--color-1);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.hamburger span:nth-child(1) {
  transform: translateY(-15px);
  -webkit-transform: translateY(-15px);
  -moz-transform: translateY(-15px);
  -ms-transform: translateY(-15px);
  -o-transform: translateY(-15px);
  width: 25px;
  left: 15px;
}
.hamburger.active span:nth-child(1) {
  width: 40px;
  transform: translateY(0px) rotate(45deg);
  -webkit-transform: translateY(0px) rotate(45deg);
  -moz-transform: translateY(0px) rotate(45deg);
  -ms-transform: translateY(0px) rotate(45deg);
  -o-transform: translateY(0px) rotate(45deg);
  transition-delay: 0.125s;
}
.hamburger span:nth-child(2) {
  transform: translateY(15px);
  -webkit-transform: translateY(15px);
  -moz-transform: translateY(15px);
  -ms-transform: translateY(15px);
  -o-transform: translateY(15px);
  width: 15px;
  left: 15px;
}
.hamburger.active span:nth-child(2) {
  width: 40px;
  transform: translateY(0px) rotate(315deg);
  -webkit-transform: translateY(0px) rotate(315deg);
  -moz-transform: translateY(0px) rotate(315deg);
  -ms-transform: translateY(0px) rotate(315deg);
  -o-transform: translateY(0px) rotate(315deg);
  transition-delay: 0.25s;
}
.hamburger.active span:nth-child(3) {
  transform: translateX(60px);
  -webkit-transform: translateX(60px);
  -moz-transform: translateX(60px);
  -ms-transform: translateX(60px);
  -o-transform: translateX(60px);
}
.themIcon,
#themeToggle {
  cursor: pointer;
  display: flex;
  align-items: center;
}
html.dark,
html.dark #header,
html.dark .nav-links {
  background-color: var(--color-1);
  color: var(--color-2);
}
html.dark #logo {
  filter: invert(100%);
  -webkit-filter: invert(100%);
}
.dark .nav-links a,
.dark .about-card,
.dark .card::before {
  color: var(--color-2);
}
.dark .img-slide {
  filter: brightness(0) invert(1);
}
.dark .hamburger .line {
  background-color: var(--color-2);
}
.home_content {
  padding: 7% 0% 0% 0%;
  display: grid;
}
.home-text-1 {
  grid-area: home-text-1;
  padding: 0% 5%;
  align-self: center;
  justify-self: start;
}
.home-text-2 {
  grid-area: home-text-2;
  align-self: center;
  justify-self: center;
  border-top: 5px solid var(--color-4);
  border-bottom: 5px solid var(--color-4);
}
.home-text-3 {
  padding: 0% 5%;
  grid-area: home-text-3;
  align-self: center;
  justify-self: start;
}
.home-btn {
  grid-area: home-btn;
  align-self: center;
  justify-self: center;
  /*   background-color: yellow; */
}
.home-slider {
  grid-area: home-slider;
}
.home-slider .home-slider-card {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.home-slider .home-slider-card:before {
  content: "";
  background-color: var(--color-4);
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0%;
  right: 0%;
  /*   background: linear-gradient(to right, #04b0ee, transparent);
  animation: toright 5s linear infinite;
  -webkit-animation: toright 5s linear infinite; */
  /*background-image: conic-gradient(#04b0ee 20deg, transparent 120deg);
  animation: rotate 20s linear infinite;
  -webkit-animation: toright 20s linear infinite;*/
  z-index: 1;
}
.home-slider .home-slider-card:after {
  content: "";
  background-color: var(--color-1);
  position: absolute;
  top: 0%;
  right: 0%;
  width: 10%;
  height: 100%;
  z-index: 2;
}
@keyframes rotate {
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
  }
}
@keyframes toright {
  100% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
}
.home-figure {
  grid-area: home-figure;
  /* background-color: purple; */
  position: relative;
}
.home-figure figure {
  position: absolute;
  top: -110px;
  left: -200px;
  width: 1000px;
  height: 400px;
  z-index: 3;
}
.home_img {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
  object-fit: contain;
}
.text-container {
  display: inline-block;
}
.text-1 {
  width: 100%;
  text-transform: uppercase;
  font-size: clamp(0.5em, 2vw + 2em, 10em);
  /*letter-spacing: 10px;*/
  border-right: 5px solid;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(14), cursor.4s step-end infinite alternate;
  -webkit-animation: typing 2s steps(14), cursor.4s step-end infinite alternate;
}
.text-2 {
  color: var(--color-5);
  text-transform: uppercase;
  font-size: clamp(0.5em, 4vw + 4em, 20em);
  font-size: 15em;
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 1px 2px black;
}
.text-3 {
  width: 100%;
  text-transform: uppercase;
  font-size: clamp(0.5em, 2vw + 2em, 10em);
  /* letter-spacing: 10px; */
  border-right: 5px solid;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(16), cursor.4s step-end infinite alternate;
  -webkit-animation: typing 2s steps(16), cursor.4s step-end infinite alternate;
}

.left_content {
  width: 45%;
  min-width: 500px;
  padding: 2rem;
  display: flex;
  align-items: center;
}
.main_left {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.2rem;
}
.right_content {
  width: 45%;
  min-width: 500px;
  display: flex;
  align-items: center;
  padding: 2rem;
}
.main_right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  color: var(--color-2);
  font-size: 2em;
  padding: 10px 20px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  cursor: pointer;
  text-transform: uppercase;
}
/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow i {
  display: inline-block;
  vertical-align: middle;
}
.icon-phone {
  fill: var(--color-2);
}

/* Shutter In Horizontal */
.hvr-shutter-in-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-shutter-in-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--color-4);
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  border: 5px solid var(--color-4);
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.hvr-shutter-in-horizontal:hover,
.hvr-shutter-in-horizontal:focus,
.hvr-shutter-in-horizontal:active {
  /*  color: white; */
  color: var(--color-5);
  border: 5px solid var(--color-5);
  box-shadow: 0 0 10px var(--color-5), inset 0 0 10px var(--color-5);
}
.hvr-shutter-in-horizontal:hover:before,
.hvr-shutter-in-horizontal:focus:before,
.hvr-shutter-in-horizontal:active:before {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}
.hvr-shutter-in-horizontal:hover .icon-phone,
.hvr-shutter-in-horizontal:focus .icon-phone,
.hvr-shutter-in-horizontal:active .icon-phone {
  fill: var(--color-5);
}
.about_content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
  /*   background-color: greenyellow; */
}
.about_left {
  width: 45%;
  min-width: 300px;
  padding: 2%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.about_right {
  width: 95%;
  min-width: 300px;
  max-width: 450px;
  margin: 0;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  color: var(--color-1);
}
.about-card {
  padding: 1rem;
}
.glass {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
}
.card_figure {
  width: 350px;
  height: 350px;
  background-color: var(--color-4);
  border-radius: 50%;
  position: relative;
}
.img_about {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-image: url("/about.jpg");
  background-size: contain;
  position: absolute;
  left: 15px;
  top: 0px;
}
.title_content {
  display: flex;
  justify-content: center;
  margin: 5% auto 0.5% auto;
}
.title {
  font-size: 3em;
  font-weight: bold;
  color: var(--color-4);
  margin: 0px;
  padding: 0px;
}
.about_right p {
  font-size: 1.5em;
  margin: 0px;
}
.widget-list {
  width: 100%;
  padding: 0px;
}
.widget-list li {
  list-style: none;
  padding: 1.5rem;
  font-size: 1.5em;
}
.widget-list li span {
  width: 100px;
  height: 100px;
  padding: 1rem;
  margin: 1rem;
  border-radius: 50%;
  background-color: var(--color-4);
  color: var(--color-2);
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.widget-list li:hover span:not(:hover) {
  z-index: 2;
  padding: 1.2rem;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
.services_content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5rem;
  position: relative;
}

.card {
  width: 95%;
  min-width: 300px;
  max-width: 600px;
  border-left: 5px solid var(--color-5);
  border-radius: 0px 15px 15px 0px;
  -webkit-border-radius: 0px 15px 15px 0px;
  -moz-border-radius: 0px 15px 15px 0px;
  -ms-border-radius: 0px 15px 15px 0px;
  -o-border-radius: 0px 15px 15px 0px;
  position: relative;
  display: grid;
  grid-template: "icon-card title-card" 50px "icon-card text-card" 100px / 150px auto;
}
.card-item-1 {
  grid-area: icon-card;
  /* background-color: yellow; */
  justify-self: center;
  align-self: center;
}
.card-item-2 {
  grid-area: title-card;
  /* background-color: green; */
}
.card-item-3 {
  grid-area: text-card;
  /* background-color: purple; */
}
.card::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: var(--color-5);
  color: var(--color-2);
  /*   clip-path: circle(50% at 0 50%);
  border-top-left-radius: 10px; */
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.card:hover::before {
  color: var(--color-2);
  clip-path: circle(100% at 50% 50%);
  width: 100%;
  height: 100%;
  border-radius: 0px 10px 10px 0px;
  -webkit-border-radius: 0px 10px 10px 0px;
  -moz-border-radius: 0px 10px 10px 0px;
  -ms-border-radius: 0px 10px 10px 0px;
  -o-border-radius: 0px 10px 10px 0px;
}
.card .icon_card {
  display: flex;
  justify-content: center;
}
.card .icon_card span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  width: 100px;
  height: 100px;
  border: 3px solid white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: var(--color-4);
  color: var(--color-2);
  position: relative;
}
.icon {
  fill: var(--color-2);
}
.card .title_card h3 {
  font-size: 2em;
  font-weight: 50px;
  color: var(--color-4);
  position: relative;
  padding: 1.5rem;
  margin: 0px;
}
.card .text_card {
  font-size: 1.5em;
  padding: 1.5rem;
  position: relative;
}
.card:hover .text_card {
  color: var(--color-2);
  position: relative;
  border-radius: 0px 0px 5px 5px;
  -webkit-border-radius: 0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px;
  -ms-border-radius: 0px 0px 5px 5px;
  -o-border-radius: 0px 0px 5px 5px;
}
.card:hover .title_card h3 {
  color: var(--color-4);
  border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  -ms-border-radius: 5px 5px 0px 0px;
  -o-border-radius: 5px 5px 0px 0px;
}
.services_content:has(.card:hover) .card:not(:hover) {
  filter: grayscale(100%) brightness(50%);
  background-color: var(--color-5);
  -webkit-filter: grayscale(50%) brightness(50%);
}
/*Desktop*/
@media (width>=1367px) {
  .home_content {
    grid-template:
      "home-text-1 home-text-1" 65px
      "home-text-2 home-text-2" 200px
      "home-text-3 home-text-3" 65px
      "home-btn home-figure"
      "home-slider home-slider" 100px / 1fr 1fr;
  }
}
/*Notebook*/
@media (1024px<= width <=1366px) {
  .text-2 {
    font-size: 12em;
  }
  .home_content {
    padding: 9% 0% 0% 0%;
    grid-template:
      "home-text-1 home-text-1" 65px
      "home-text-2 home-text-2" 200px
      "home-text-3 home-text-3" 65px
      "home-btn home-figure"
      "home-slider home-slider" 100px / 1fr 1fr;
  }
}
/*Tablet*/
@media (768px<= width <=1023px) {
  .text-2 {
    font-size: 10em;
  }
  .home_content {
    padding: 11% 0% 0% 0%;
    grid-template:
      "home-text-1 home-text-1" 65px
      "home-text-2 home-text-2" 200px
      "home-text-3 home-text-3" 65px
      "home-btn home-figure"
      "home-slider home-slider" 100px / 1fr 1fr;
  }
}
/*phone*/
@media (320px <= width <= 767px) {
  .nav-links {
    display: none;
  }
  .hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .text-2 {
    font-size: 6em;
  }
  #home {
    padding: 20% 2% 0% 3%;
  }
  #services,
  #about {
    padding: 10% 0%;
    margin: 0%;
    height: unset;
  }
  .home_content {
    display: grid;
    grid-template:
      "home-text-1 " 50px
      "home-text-2" 80px
      "home-text-3" 50px
      "home-btn" auto
      "home-figure" auto
      "home-slider" 100px;
    height: 100dvh;
  }
  .home-slider {
    grid-area: home-slider;
    position: relative;
  }
  .home-slider-card {
    position: absolute;
    bottom: 0%;
    left: 0%;
  }
  .home-figure > figure,
  .about_left {
    display: none;
  }
  .card .title_card h3 {
    font-size: 1.7em;
  }
  .card .text_card {
    font-size: 1.2em;
  }
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
}
