* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --them1-font: black;
  --them1-background: white;
  --them1-color: #4b92ff;
}
html {
  background-color: var(--them1-background);
  font-family: sans-serif;
}
body {
  margin: 0 auto;
  width: 100%;
  /* max-width: 100ch; */
  padding: 1rem;
  line-height: 1.5;
}
h1 {
  font-size: 2.5rem;
}
p {
  font-size: 1.5rem;
}
header,
main {
  /* background-color: red; */
  display: flex;
  justify-content: space-around;
  padding: 1rem 2rem;
}
.logo img {
  width: 150px;
  height: 50px;
}
.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: var(--them1-color);
  display: none;
  margin: 0;
}
.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--theme1-font);
}
.nav-links a:hover,
.nav-links a:focus {
  background-color: var(--them1-color);
  color: var(--them1-background);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: var(--them1-font);
}
.themIcon {
  display: flex;
  align-items: center;
}
html.dark {
  background-color: var(--them1-font);
  color: var(--them1-background);
}
html.dark #logo {
  filter: invert(100%);
  -webkit-filter: invert(100%);
}
.dark .nav-links a {
  color: var(--them1-background);
}
.dark .hamburger .line {
  background-color: var(--them1-background);
}

/*Main Style*/
.MainContent {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  /* max-width: 1200px; */
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
  /* height: 80vh; */
  /* min-height: 60vh; */
  /* background-color: #4b92ff; */
  justify-content: space-around;
  align-items: center;
}
.LeftContent {
  width: 50%;
  min-width: 300px;
  /* background-color: aqua; */
  /* height: 35vh; */
  padding: 1rem;
  /* max-height: 200px; */
  /*  height: 100%; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  /* gap: 0.2em; */
}
.RightContent {
  width: 45%;
  min-width: 300px;
  /* background-color: bisque; */
  /* height: 35vh; */
  padding: 1rem;
  /* max-height: 400px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /*   background-image: url(../../public/blob.svg);
  background-size: contain;
  background-position: center; */
}
h1 p {
  color: var(--them1-font);
}
h1 > span {
  color: var(--them1-color);
}
.btn {
  background-color: var(--them1-color);
  color: var(--them1-background);
  font-size: 1.5rem;
  padding: 5px 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
}
.btn:hover {
  background: rgb(2, 0, 36);
  background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}
#main_img {
  width: 1000px;
  height: 350px;
  min-width: 300px;
  min-height: 250px;
}
/* #main_img {
  filter: drop-shadow(10px 7px 10px blue);
  -webkit-filter: drop-shadow(10px 7px 10px blue);
} */

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }
  .hamburger {
    display: none;
  }
}
