.main_sec_services {
  width: 100%;
  padding: 2rem 0px;
  /*   position: absolute; */
  /*   background-color: blue; */
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: row;
  overflow-x: hidden;
}
.slider-container {
  width: 100vw;
  /* background-color: rgb(207, 214, 17); */
  /* border: 3px solid;
  border-color: red; */
  /*  overflow-x: hidden; */
  /*   display: flex;
  flex-direction: row;
  flex-wrap: nowrap; */
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
}
.slider-container:hover .slider {
  animation-play-state: paused;
}
.slider {
  display: flex;
  /*   white-space: nowrap; */
  animation: slide 15s linear infinite;
  -webkit-animation: slide 15s linear infinite;
  /*   background-color: purple;*/
  /*   border: 3px solid;
  border-color: pink; */
}
.slider .img-slide {
  width: 350px;
  height: 100px;
  /* object-fit: cover; */
  /*   padding: 0px 50px; */
}

.slider img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

/* .slider::before,
.slider::after {
  height: 100px;
  width: 200px;
  position: absolute;
  content: "";
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  z-index: 2;
}

.slider::before {
  left: 0;
  top: 0;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
  -webkit-transform: rotateZ(180deg);
  -moz-transform: rotateZ(180deg);
  -ms-transform: rotateZ(180deg);
  -o-transform: rotateZ(180deg);
} */
@keyframes slide {
  from {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
}
