.main_sec_services {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.slider-container {
  margin: 0;
  display: flex;
  /* gap: 2em; */
  align-items: center;
  overflow: hidden;
  width: 100%;
  background-color: rgb(207, 214, 17);
}
.slider-container:hover .slider {
  animation-play-state: paused;
}
.slider {
  display: flex;
  /* gap: 2em; */
  align-content: center;
  animation: slide 10s linear infinite;
  -webkit-animation: slide 10s linear infinite;
}
.img_service {
  width: 300px;
  height: 200px;
  /* padding: 0px 10px; */
}

/* .slider::before,
.slider::after {
  height: 100px;
  width: 200px;
  position: absolute;
  content: "";
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  z-index: 2;
}

.slider::before {
  left: 0;
  top: 0;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
  -webkit-transform: rotateZ(180deg);
  -moz-transform: rotateZ(180deg);
  -ms-transform: rotateZ(180deg);
  -o-transform: rotateZ(180deg);
} */
@keyframes slide {
  from {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
}
