---
---
<section id="about" >
    <div class="title_content">
        <h2 class="title">NOSOTROS</h2>
    </div>
    <div class="about_content">
        <div class="about_left">
            <div class="card_figure">
                <div class="img_about">
                </div> 
            </div>
        </div>
        <div class="about_right glass">
            <div class="about-card">
                <p>Somos una consultoría de software con 10 años de experiencia ofreciendo servicios de informáticos como soporte, mantenimiento y desarrollo de software y aplicaciones para dispositivos moviles.</p> 
                <ul class="widget-list">
                    <li class="items"><a><span>1</span>Desarrollo a la medida</a></li>
                    <li class="items"><a><span>2</span>Demo sin costo</a></li>
                    <li class="items"><a><span>3</span>Precios Accesibles</a></li>
                    <li class="items"><a><span>4</span>Soporte y Matenimiento</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

