---
---
<section id="contact">
    <div class="title_content">
        <h2 class="title">CONTÁCTANOS</h2>
    </div>
    <div class="contact_content">
       <div class="contact_left">
        <form class="form glass">
            <!-- <p class="title">Register </p> -->
            <p class="message">Envianos un correo electrónico si deseas más información.</p>
                <div class="flex">
                <label>
                    <input class="input" type="text" placeholder="" required="" name="name">
                    <span>Nombre / Compañia</span>
                </label>
                <label>
                    <input class="input" type="text" placeholder="" name="lastname">
                    <span>Apellido (Opcional)</span>
                </label>
            </div>          
            <label>
                <input class="input" type="email" placeholder="" required="" name="email">
                <span>Correo electrónico</span>
            </label> 
            <label>
                <textarea class="input" required="" placeholder="" name="message">

                </textarea>
                <span>Mensaje</span>
            </label>             
            <button class="submit">Enviar</button>
        </form> 
       </div>
       <div class="contact_right">
       </div>
    </div>
</section>