<div class="hamburger">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
</div>
<script>
    const menutoggle = document.querySelector('.hamburger');
    menutoggle.addEventListener("click", () => {
        menutoggle.classList.toggle('active')
    })
</script>