---
import Navbar from './Navbar.astro'
import Hamburguer from './Hamburguer.astro'
import ThemIcon from './ThemIcon.astro'
---
<header>
    <div class="logo">
        <img src="/logo_black.png" alt="logo" id="logo" />
    </div>
    <Navbar></Navbar>
    <ThemIcon></ThemIcon>
    <Hamburguer></Hamburguer>
</header>