---
import Navbar from './Navbar.astro'
import Hamburguer from './Hamburguer.astro'
import ThemIcon from './ThemIcon.astro'
---
<header class="header" id="header">
    <div class="item item-1 logo"><img src="/logo_black.png" alt="logo" id="logo" /></div>
    <diiv class="item item-2">
        <Navbar></Navbar>
    </diiv>
    <div class="item item-3"><ThemIcon></ThemIcon></div>   
    <div class="item item-4"><Hamburguer></Hamburguer></div> 
</header>
<script src="../scripts/scroll_animations.js"></script>
<script src="../scripts/header_scroll.js"></script>