---
import Slider from '../components/Slider.astro'
---
<section class="home_content" id="home">
        <div class="home-text-1">
            <div class="text-container">
                <h2 class="text-1">¿Necesitas un</h2> 
            </div>
        </div>
        <div class="home-text-2">
            <h1 class="text-2">software</h1>
        </div>
        <div class="home-text-3">
            <div class="text-container">
                <h2 class="text-3">para tu negocio?</h2> 
            </div>
        </div>   
        <div class="home-btn">
            <a class="btn hvr-grow hvr-shutter-in-horizontal"><i></i>Contactanos</a>
        </div>
        <div class="home-slider">
            <div class="home-slider-card">
                <Slider></Slider>
            </div>
        </div>
        <div class="home-figure">
            <figure>
                <img src="/responsive.png" class="home_img "/>
            </figure>
        </div>
</section>
