---
---
<section class="main_content" id="home">
        <div class="left_content">
            <div class="main_left">
                <h1>¿Necesitas un <span>software a la medida</span>?</h1>
                <p>Somos una consultoría de TI enfocada en el desarrollo y soporte de software a la medida de tu negocio.</p>
                <a class="btn">Brochure</a>
            </div> 
        </div>
        <div class="right_content">
            <div class="main_right">
                <img src="/responsive.png" class="main_img "/>
            </div>    
        </div>
</section>
