---
---
<main>
    <div class="MainContent">
        <div class="LeftContent">
            <h1>¿Necesitas un <span>software a la medida</span>?</h1>
            <p>Somos una consultoría de TI enfocada en el desarrollo de software a la medida de tu negocio y brindar soporte informático.</p>
            <a class="btn">Brochure</a>
        </div>
        <div class="RightContent">
            <img src="/responsive.png" id="main_img"/>
        </div>
    </div>

</main>
<section class="main_sec_services">
        <div class="slider-container">
            <div class="slider"> 
                <img src="/desktop.png" class="img_service">
                <img src="/website.png" class="img_service">
                <img src="/mobile_application.png" class="img_service"> 
                <img src="/bug_fixing.png" class="img_service">
                <img src="/desktop.png" class="img_service">          
            </div>
<!--             <div class="slider"> 
                <img src="/desktop.png" class="img_service">
                <img src="/website.png" class="img_service">
                <img src="/mobile_application.png" class="img_service"> 
                <img src="/bug_fixing.png" class="img_service">          
            </div> -->
        </div>
</section>
<script>
    var copy = document.querySelector('.slider').cloneNode(true);
    document.querySelector('.slider-container').appendChild(copy);

</script>