---
---
<main>
    <div class="MainContent">
        <div class="LeftContent">
            <h1>¿Necesitas un <span>software a la medida</span>?</h1>
            <p>Somos una consultoría de TI enfocada en el desarrollo de software a la medida de tu negocio y brindar soporte informático.</p>
            <a class="btn">Brochure</a>
        </div>
        <div class="RightContent">
            <img src="/responsive.png" id="main_img"/>
        </div>
    </div>
</main>
