---
---
<section id="services">
    <div class="title_content">
        <h2 class="title">SERVICIOS</h2>
    </div>
    <div class="services_content">
        
        <div class="card" >
            <figure class="icon_card card-item-1">
                <span><i class='bx bxs-hot'></i></span>
            </figure>
            <div class="title_card card-item-2">
                <h3>Servicio</h3>
            </div>
            <div class="text_card card-item-3">
                Dise単amos tu sitio web de tu negocio
            </div>
        </div>
        <div class="card" >
            <figure class="icon_card card-item-1">
                <span><i class='bx bxs-hot'></i></span>
            </figure>
            <div class="title_card card-item-2">
                <h3>Servicio</h3>
            </div>
            <div class="text_card card-item-3">
                Dise単amos tu sitio web de tu negocio
            </div>
        </div>
        <div class="card" >
            <figure class="icon_card card-item-1">
                <span><i class='bx bxs-hot'></i></span>
            </figure>
            <div class="title_card card-item-2">
                <h3>Servicio</h3>
            </div>
            <div class="text_card card-item-3">
                Dise単amos tu sitio web de tu negocio
            </div>
        </div>
        <div class="card" >
            <figure class="icon_card card-item-1">
                <span><i class='bx bxs-hot'></i></span>
            </figure>
            <div class="title_card card-item-2">
                <h3>Servicio</h3>
            </div>
            <div class="text_card card-item-3">
                Dise単amos tu sitio web de tu negocio
            </div>
        </div>

        

    </div>
</section>
<script src="../scripts/scroll_animations.js"></scr>