---
---
<section class="main_sec_services">
    <div class="slider-container">
        <div class="slider"> 
            <img src="/desktop.png" class="img-slide">
            <img src="/website.png" class="img-slide">
            <img src="/mobileapplication.png" class="img-slide">
            <img src="/bugfixing.png" class="img-slide">
            <img src="/desktop.png" class="img-slide">          
        </div>
    </div>
</section>
<script src="/src/scripts/main_slider.js"></script>