---
import '../styles/style.css'
import '../styles/style_slide.css'
import '../styles/animation_style.css'
import '../styles/style_footer.css'
import Header from '../components/Header.astro'
import Main from '../components/Main.astro'
import Slider from '../components/Slider.astro'
import About from '../components/About.astro'
import Services from '../components/Services.astro'
import Footer from '../components/Footer.astro'
const {pageTitle} = Astro.props;
---
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
		<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
		<title>{pageTitle}</title>
		<script src="/src/scripts/scrollreveal.js"></script>
	</head>
	<body>
		<div id="home">
			<Header></Header>
			<Main></Main>
			<!-- <Slider></Slider> -->
		</div>
		<About></About>
		<Services></Services>
		<Footer></Footer>
        <slot/>
    </body>

	<script>
		import '../scripts/transitions'
	</script>
	<script>
		import '../scripts/menu'
	</script>
</html>